NumberToWordCurrencyConverter/Connected Services/NumberToWordConverterService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numAsString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>